<div class="cp_header" th:fragment="dm-header">
    <h3 class="cp_title">Панель керування</h3>
    <button class="btn cp_menu--btn" id="menu__btn" aria-label="Menu">
        <svg width="32" height="32" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
        <span>Меню</span>
    </button>
</div>

<div class="cp_menu-side" id="menu-side" th:fragment="dm-menu">
    <span class="cp_menu-side--head">Розділи</span>
    <div class="cp_accordion" id="accordion">
        <div class="cp_accordion--item">
            <button class="cp_accordion--header btn">
                <svg class="" width="32" height="32">
                    <image xlink:href="/icons/cinema-manager/svg/sessions_32.svg" width="32" height="32" />
                </svg>
                <span>Сеанси</span>
                <svg class="cp_accordion--header--arrow" width="24" height="24">
                    <image xlink:href="/icons/cinema-manager/svg/arrow-down_24.svg" width="24" height="24" />
                </svg>
            </button>
            <div class="cp_accordion--body">
                <div class="cp_accordion--content">
                    <a href="#">Створити сеанс</a>
                    <a href="#">Активні сеанси</a>
                    <a href="#">Неактивні сеанси</a>
                </div>
            </div>
        </div>
        <div class="cp_accordion--item">
            <button class="cp_accordion--header btn">
                <svg class="" width="32" height="32">
                    <image xlink:href="/icons/cinema-manager/svg/movies_32.svg" width="32" height="32" />
                </svg>
                <span>Фільми</span>
                <svg class="cp_accordion--header--arrow" width="24" height="24">
                    <image xlink:href="/icons/cinema-manager/svg/arrow-down_24.svg" width="24" height="24" />
                </svg>
            </button>
            <div class="cp_accordion--body">
                <div class="cp_accordion--content">
                    <a href="/control-panel/create-movie">Створити фільм</a>
                    <a href="#">Скоро у прокаті</a>
                    <a href="/control-panel/movies">Фільми</a>
                    <a href="#">Архів фільмів</a>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="cp_menu--actions">
        <ul class="cp_menu--actions--list">
            <li class="cp_menu--actions--item">
                <a href="/" class="cp_menu--actions--link btn">
                    <svg width="32" height="32">
                        <use xlink:href="/icons/cinema-manager/svg/sprite.svg#icon_menu-general"></use>
                    </svg>
                    <span>На головну</span>
                </a>
            </li>
            <li class="cp_menu--actions--item">
                <button class="cp_menu--actions--link btn">
                    <svg width="32" height="32">
                        <use xlink:href="/icons/cinema-manager/svg/sprite.svg#icon_menu-logout"></use>
                    </svg>
                    <span>Завершити роботу</span>
                </button>
            </li>
        </ul>
    </div>
</div>