<div class="tt-footer__container" th:fragment="footer">
    <div class="tt-footer-info">
        <h3 class="cite_name">Ticket UA</h3>
        <h5 class="sub__info">Сервіс онлайн купівлі квитків у кінотеатри України ticket.com.ua</h5>
        <h5 class="sub__info">Copyright ©2023-2024 &#8226; All Rights Reserved</h5>
    </div>
    <div class="tt-footer-media">
        <div class="tt-footer-media__social">
            <div class="tt-footer-media__social-media">
                <span class="tt-social-media__head">Ми в соціальних мережах</span>
                <ul class="tt-social-media__list">
                    <li class="tt-social-media__item instagram_btn"><a href="#"><img src="/icons/svg/instagram.svg" alt="instagram"></a></li>
                    <li class="tt-social-media__item facebook_btn"><a href="#"><img src="/icons/svg/facebook.svg" alt="facebook"></a></li>
                    <li class="tt-social-media__item youtube_btn"><a href="#"><img src="/icons/svg/youtube.svg" alt="youtube"></a></li>
                </ul>
            </div>
            <div class="tt-social-media__telegram-bot">
                <span class="tt-telegram-bot__head">Купуй квитки через Telegram бота</span>
                <ul class="tt-telegram-bot__list">
                    <li class="tt-telegram-bot__item telegram_btn"><a href="#"><img src="/icons/svg/telegram.svg" alt="telegram"></a></li>
                </ul>
            </div>
        </div>
        <div class="tt-footer-media__download-apps">
            <span class="tt-download-apps__head">Наші додатки</span>
            <ul class="tt-download-apps__list">
                <li class="tt-download-apps__item"><a href="#"><img src="/img/downloadAppStore.svg" alt="AppStore"></a></li>
                <li class="tt-download-apps__item"><a href="#"><img src="/img/downloadGooglePlay.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>