<div class="tt-header-container" th:fragment="header">
    <div class="tt-l-group" id="hid-left-group">
        <div class="tt-c_header-logo" id="hid-header-logo">
            <a class="a_header-logo" href="/"><img id="hid-header-logo__img" src="/icons/svg/Ticket_logo.svg" alt="Ticket.UA"/></a>
        </div>
        <nav class="tt-header-nav" id="hid-header-nav">
            <ul class="tt-header__list" id="hid-header__list">
                <li class="h-nav-item schedule_link"><a class="tt-nav__link tt-schedule__link" href="#">Розклад</a></li>
                <li class="h-nav-item h-nav-item__hov"><a class="tt-nav__link" href="/movie-info">Фільми</a></li>
                <li class="h-nav-item h-nav-item__hov"><a class="tt-nav__link" href="#">Кінотеатри</a></li>
                <li class="h-nav-item h-nav-item__hov"><a class="tt-nav__link" href="/control-panel">Новини</a></li>
                <li class="h-nav-item h-nav-item__hov"><a class="tt-nav__link" href="/movie-create">Інше</a></li>
            </ul>
        </nav>
    </div>
    <div class="tt-r-group" id="hid-right-group">
        <div class="tt-form-search" id="hid-form-search">
            <input class="tt-form__input" id="hid-form__input" type="search" placeholder="Я шукаю..."/>
            <button class="tt-form__button" id="hid-form__button" type="submit"></button>
        </div>
        <div class="tt-location__list" id="hid-location__list">
            <label class="tt-location__label" for="hid-location__btn">місто</label>
            <button class="tt-location__btn" id="hid-location__btn">Дніпро</button>
        </div>
        <div class="tt-user-manager" id="hid-user-manager">
            <ul class="tt-user-manager__list" id="hid-user-manager__list">
                <li class="tt-user__item">
                    <a href="#" class="tt-user__link" id="hid-tickets__link"><img src="/icons/svg/tickets-icon.svg" alt="Квитки"/></a>
                    <span class="tt-user__btn-text">Квитки</span>
                </li>
                <li class="tt-user__item">
                    <a href="#" class="tt-user__link" id="hid-account__link"><img src="/icons/svg/user-icon.svg" alt="Акаунт"/></a>
                    <span class="tt-user__btn-text">Увійти</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="tt-menu-mobile" id="hid-menu-mobile">
        <div class="mm-menu__btn" id="hid-menu__btn">
            <input id="hid-menu__toggle" type="checkbox"/>
            <label class="mm-btn__label" id="hid-btn__label" for="hid-menu__toggle"><img src="/icons/svg/dp_list-icon.svg" alt=""/></label>
        </div>
        <div class="mm-container" id="hid-m-container">
            <div class="mm-menu__btn-close" id="hid-menu__btn-close">
                <input id="hid-menu__toggle-close" type="checkbox"/>
                <label class="mm-btn__label-close" id="hid-btn__label-close" for="hid-menu__toggle-close"><img src="/icons/svg/red-cross-icon.svg" alt=""/></label>
            </div>
            <div class="mm-menu-gallery">
                <img src="/icons/svg/Ticket_logo.svg" alt="Декоративна картинка">
            </div>
            <div class="mm-content" id="hid-m-content"></div>
        </div>
    </div>
</div>
