<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dm/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/icons/png/favicon.png" />
    <title>Ticket.ua</title>
</head>
<body>
<div class="cp_wrapper">
    <header class="cp_header-wrapper p-3 pos-sticky w_th-100per top-0 --b-col-gray">
        <div th:insert="~{fragments/dm-menu-header :: dm-header}"></div>
        <div th:insert="~{fragments/dm-menu-header :: dm-menu}"></div>
    </header>
    <main class="anim-m-load tr_on-filter" id="main-w">
        <div class="movies-container">
            <div class="movie-tool-bar mtb_8">
                <div class="movies-search__comp mr_8">
                    <input class="search__inp" type="search" autocomplete="off" placeholder="Пошук">
                    <button class="btn search__btn" type="button" role="button"></button>
                    <div class="search-preview-popup">
                        <span class="search-tip">Пошук не дав результатів</span>
                        <div class="popup-content">
                            <div class="search-result__item" th:each="el : ${movieSearchResult}">
                                <div class="movie-card__bg reduced">
                                    <img th:src="${'/uploads/' + el.coverPath}" alt="movie cover missing..">
                                </div>
                                <span th:text="${el.movieName}" class="card__item-text title"></span>
                                <span th:text="${el.year}" class="card__item-text year"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mm-popup-cont movie-sort-tool">
                    <button class="btn more__btn sorting-more__btn"></button>
                    <div class="mm-popup">
                        <ul class="list-vert">
                            <li class="list-item popup-item">
                                <input class="popup__radio" id="new_to_old" type="radio" name="sort" value="new_to_old" onchange="sortMovies(this.value)" checked>
                                <label class="btn popup__btn popup__label" for="new_to_old">Від нових до старих</label>
                            </li>
                            <li class="list-item popup-item">
                                <input class="popup__radio" id="old_to_new" type="radio" name="sort" value="old_to_new" onchange="sortMovies(this.value)">
                                <label class="btn popup__btn popup__label" for="old_to_new">Від старих до нових</label>
                            </li>
                            <li class="list-item popup-item">
                                <input class="popup__radio" id="a_to_z" type="radio" name="sort" value="a_to_z" onchange="sortMovies(this.value)">
                                <label class="btn popup__btn popup__label" for="a_to_z">Від А до Я</label>
                            </li>
                            <li class="list-item popup-item">
                                <input class="popup__radio" id="z_to_a" type="radio" name="sort" value="z_to_a" onchange="sortMovies(this.value)">
                                <label class="btn popup__btn popup__label" for="z_to_a">Від Я до А</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="movie-list_container mtb_16 plr_16">
                <div class="movie-card__item" th:each="el : ${movie}">
                    <div class="movie-card__bg">
                        <img class="" th:src="${'/uploads/' + el.coverPath}" alt="movie cover">
                    </div>
                    <span th:text="${el.movieName}" class="card__item-text"></span>
                    <div class="mm-popup-cont movie-tools" th:attr="data-card-id=${el.id}">
                        <button class="btn more__btn movie-more__btn"></button>
                        <div class="mm-popup list-vert more-menu__popup">
                            <ul class="list-vert">
                                <li class="list-item popup-item">
                                    <button class="btn popup__btn edit" id="km-edit__btn">Редагувати</button>
                                </li>
                                <li class="list-item popup-item">
                                    <button class="btn popup__btn archive" id="km-archive__btn">Архівувати</button>
                                </li>
                                <li class="list-item popup-item">
                                    <button class="btn popup__btn delete" id="km-delete__btn">Видалити</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="/js/dm/dataManager.js"></script>
</body>
</html>