:root {
    --alto: #d3d3d3;
    --white20: #f0f0f038;
    --white50: #f0f0f085;
    --white80: #f0f0f0ba;
    --white: #f0f0f0;
    --base-accent-lighter: #ab4c16;
    --baseAccent: #913e0f;
    --mine-shaft: #393939;
    --gray-light: #adadad;
    --gray-lower: #413f3f;
    --gray: #2d2b2b;
    --dark-gray: #1c1918;
}



*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Unbounded', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background-color: var(--gray);
}
body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.scroll-hidden {
    overflow: hidden;
}
.cp_header-wrapper {
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 0 1rem;
    position: -webkit-sticky;
    position: sticky;
    transition: top .3s ease-in-out;
    background-color: var(--gray);
    box-shadow: 0 2px 10px 0 #1111117c;
}

.cp_header-wrapper.hide {
    top: -60px;
}
.cp_header-wrapper.tt-card__progress-bar-content {
    margin-top: 100px;
}

.tt-header-container {
    display: flex;
    margin: 0 auto;
    height: 4rem;
    max-height: 4rem;
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.tt-l-group,
.tt-r-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: gap 0.3s ease;
}

.tt-c_header-logo {
    display: block;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}
#hid-header-logo__img {
    display: block;
    width: 110px;
}
.tt-c_header-logo:hover {
    transform: scale(1.03);
}

.tt-header-nav {
    display: none;
    margin: 0 1rem;
}

.tt-header__list {
    gap: 40px;
    display: flex;
    margin: 0;
    padding: 0;
    transition: gap 0.3s ease;
}

.tt-nav__link {
    color: var(--alto);
}

.schedule_link {
    width: 8rem;
    height: 3rem;
    background-color: var(--baseAccent);
    border-radius: 10px;
    text-align: center;
}
.schedule_link a {
    color: var(--alto);
}

.h-nav-item a {
    height: 100%;
    align-content: center;
}

.h-nav-item {
    display: flex;
    align-self: baseline;
    flex-direction: column;
    justify-content: center;
}

.h-nav-item__hov a {
    padding: 0.5rem 0;
}
.h-nav-item__hov::after {
    width: 0;
    height: 2px;
    content: '';
    display: block;
    transition: 0.3s ease;
    position: relative;
    background: var(--baseAccent);
}

/* <---left-group-end---> */

/* <---right-group-start---> */
.tt-form-search {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.tt-form__input {
    border: 1px #e6e6e600 outset;
    width: 10rem;
    height: 3rem;
    color: #dfdfdf;
    background-color: var(--white20);
    border-radius: 10px 0 0 10px;
    padding: 0.5rem 0.5rem;
    transition: width 0.3s ease;
}
.tt-form__input:focus {
    outline: none;
    width: calc(100% - 45px);
    color: var(--dark-gray);
    background-color: #ebebebd5;
}
.tt-form__input::placeholder {
    color: #dfdfdfa2;
}
.tt-form__input:focus::placeholder {
    color: var(--gray);
}

.tt-form__button {
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background: url('../icons/svg/search_btn-icon.svg') no-repeat center var(--white20);
}

.tt-location__list {
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 8px;
}
.tt-location__label {
    display: none;
    color: var(--alto);
    line-height: 30px;
    padding: 0 8px;
}
.tt-location__btn {
    border: none;
    text-wrap: nowrap;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
    color: var(--alto);
    background-color: transparent;
}

.tt-user-manager__list {
    gap: 15px;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.tt-user__item {
    width: 3rem;
    height: 3rem;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    background: var(--white20);
    align-items: center;
    justify-content: center;
    filter: brightness(100%);
}

.tt-user__btn-text {
    display: none;
    color: var(--alto);
    transition: color .3s ease;
}

/* <---end right-group---> */

/* <---mobile menu-start---> */
.tt-menu-mobile {
    display: none;
    gap: 10px;
}

#hid-menu__toggle,
#hid-menu__toggle-close {
    display: none;
}

.mm-btn__label,
.mm-btn__label-close {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    background-color: var(--white20);
}

.mm-btn__label img,
.mm-btn__label-close img {
    width: 24px;
}

.mm-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 0;
    margin: 0;
    right: -100%;
    z-index: 30;
    width: 500px;
    height: 100%;
    padding: 10px;
    position: fixed;
    background-color: var(--gray);
    border-radius: 10px 0 0 10px;
    box-shadow: -6px 0 13px rgba(0, 0, 0, 0.2);
    align-content: space-between;
    transition: all 0.3s ease;
}

.tt-location__list:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
}

.mm-menu__btn-close:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: flex-end;
}

.mm-menu-gallery:nth-child(3) {
    grid-column: span 2;
    grid-row: 2;
    justify-self: center;
}

.mm-content:nth-child(4) {
    grid-column: span 2;
    grid-row: 3;
}

.mm-content {
    display: grid;
    gap: 10px;
}

.mm-menu-gallery {
    display: none;
    overflow: hidden;
}

.mm-menu-gallery img {
    width: 200px;
    height: 81px;
    object-fit: cover;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

/* <---mobile-menu-end---> */

/*<---footer-start--->*/
.tt-footer_section {
    background-color: var(--dark-gray);
}

.tt-footer__container{
    max-width: 1590px;
    margin: 0 auto;
    display: grid;
    padding: 16px 8px;
    color: var(--white);
    font-size: 14px;
    grid-auto-flow: column;
    justify-content: space-between;
}

.tt-footer-info {
    padding: 10px 0;
}
.cite_name,
.sub__info {
    margin: 0 0 20px 0;
}

.tt-footer-media {
    display: flex;
    gap: clamp(10px, 1.5vw, 20px);
}
.tt-footer-media__download-apps {
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background-color: var(--white20);
}

.tt-download-apps__list {
    padding: 0;
    margin: 0;
}
.tt-download-apps__item {
    margin: 10px 10px 0 10px;
}

.tt-footer-media__social {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.5vw, 20px);
    justify-content: space-between;
}

.tt-footer-media__social-media,
.tt-social-media__telegram-bot{
    width: 300px;
    height: 100%;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--white20);
}
.tt-social-media__head,
.tt-telegram-bot__head {
    margin: 10px;
}
.tt-social-media__list,
.tt-telegram-bot__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.tt-social-media__item,
.tt-telegram-bot__item {
    width: 40px;
    height: 40px;
    background-color: var(--gray);
    margin: 10px;
    border-radius: 5px;
    transition: background-image .2s ease-in-out, background-color .2s ease-in-out;
}
.tt-social-media__item a,
.tt-telegram-bot__item a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/*<---footer-end--->*/



@media screen and (max-width: 1439px) {
    /*body {*/
    /*    font-size: 12px;*/
    /*}*/

    .tt-header-container {
        height: 3.5rem;
    }

    #hid-header-logo__img {
        display: block;
        width: 95px;
    }

    .tt-l-group,
    .tt-r-group {
        gap: 10px;
    }

    .tt-header-nav {
        margin: 0 0.5rem;
    }

    .tt-header__list {
        gap: 30px;
    }

    .schedule_link {
        width: 6rem;
        height: 2.5rem;
        border-radius: 8px;
    }

    .tt-form__input {
        height: 2.5rem;
        border-radius: 8px 0 0 8px;
    }

    .tt-form__button {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0 8px 8px 0;
    }

    .tt-location__list {
        height: 2.5rem;
    }

    .tt-user-manager__list {
        gap: 10px;
    }

    .tt-user__item {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 8px;
    }

    .tt-user__link img {
        width: 30px;
    }
}

@media screen and (max-width: 1279px) {
    .tt-header-container {
        padding: 0;
        height: 55px;
    }

    #hid-header-logo__img {
        display: block;
        width: 90px;
    }
}

@media screen and (max-width: 1023px) {
    .cp_header-wrapper {
        padding: 0 0.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tt-header-container {
        margin: 0 auto 0 0;
    }

    .tt-r-group {
        display: none;
    }

    .tt-menu-mobile {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .tt-location__list {
        height: 2.5rem;
        width: max-content;
        background-color: #d9d9d927;
    }

    .tt-location__label {
        display: flex;
    }

    .tt-user__item {
        gap: 15px;
        height: 3rem;
        width: 100%;
    }

    .tt-user__btn-text {
        display: block;
    }

    .mm-container {
        width: 350px;
        height: 130px;
    }
}
@media screen and (max-width: 910px) {
    .tt-form__input {
        display: none;
        width: 0;
    }

    .tt-form__button {
        border-radius: 10px;
    }

    .tt-footer__container {
        grid-auto-flow: row;
        justify-content: normal;
    }

    .tt-footer-media__social-media, .tt-social-media__telegram-bot {
        width: auto;

    }
}

@media screen and (min-width: 768px) {
    .tt-header-nav {
        display: flex;
    }

    #hid-header-logo,
    .schedule_link,
    .tt-user__item,
    .tt-user-manager__list,
    .tt-location__list,
    .tt-form__button,
    .tt-form__input {
        transition: width 0.3s ease, height 0.3s ease,
        background-color 0.3s ease-in-out;
    }

    .schedule_link:hover {
        background-color: var(--white);
    }

    .schedule_link:hover .tt-schedule__link {
        color: var(--gray);
    }

    .h-nav-item__hov:hover::after {
        width: 100%;
    }

    .tt-location__list:hover {
        background-color: var(--baseAccent);
    }

    .tt-form__button:hover,
    .tt-user__item:hover {
        background-color: var(--baseAccent);
    }

    .instagram_btn:hover {
        background-image: linear-gradient(
                to right bottom,
                #833ab4, #fd1d1d, #fcb045);
    }
    .facebook_btn:hover {
        background-color: #1877F2;
    }
    .youtube_btn:hover {
        background-color: #FF0000;
    }
    .telegram_btn:hover {
        background-color: #24A1DE;
    }
}

@media screen and (max-width: 767px) {
    .tt-header-container {
        height: 48px;
    }

    .cp_header-wrapper {
        padding: 0 0.4rem;
    }

    .tt-c_header-logo {
        padding: 0;
    }

    #hid-header-logo__img {
        display: block;
    }

    .tt-header__list {
        display: flex;
        width: 100%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .h-nav-item__hov::after {
        display: none;
    }

    .tt-header__list:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
        justify-self: center;
    }

    .tt-header__list .h-nav-item__hov {
        width: 100%;
        height: 3rem;
        border-radius: 8px;
        text-align: center;
        background-color: var(--mine-shaft);
        border: 2px var(--baseAccent) solid;
    }

    .tt-header__list .schedule_link {
        width: 100%;
        height: 3rem;
    }

    .mm-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        transition: all 0.3s ease;
    }

    .mm-menu-gallery {
        display: flex;
    }
}

@media screen and (max-width: 540px) {
    .tt-footer-media {
        flex-direction: column;
        overflow: hidden;
    }
    .tt-download-apps__list {
        writing-mode: vertical-lr;
    }
}

@media screen and (max-width: 400px) {
    .tt-info__text-area-title {
        font-size: medium;
    }
    .tt-download-apps__list {
        writing-mode: horizontal-tb;
    }
}

@media screen and (max-width: 320px) {
    .tt-social-media__item,
    .tt-telegram-bot__item {
        margin: 4px;
    }
}