
/*<---tt-main-wrapper-start--->*/
.cp_main-wrapper {
    display: block;
}

/*<---tt-main-wrapper-end--->*/
/*<---card-list-start--->*/
.tt-card__list-section {
    width: 100%;
    margin: 16px 0;
    position: sticky;
    /*background-color: #351f1f;*/
    /*box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.500);*/
}

.tt-card__progress-bar-content {
    width: 100%;
    display: grid;
    padding: 4px 0;
    background-color: var(--dark-gray);
    transition: top .4s ease-in-out;
}

.tt-card__progress-bar-label:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.tt-card__progress-bar-label {
    z-index: 1;
    font-size: large;
    font-weight: 500;
    position: absolute;
    color: var(--white);
}

.tt-card__progress-bar-status {
    top: 0;
    left: 0;
    width: 0;
    height: 30px;
    position: relative;
    border-radius: 5px;
    background-color: var(--baseAccent);
    transition: width 0.5s cubic-bezier(0, 0, 0.2, 1);
}







.tt-card__container_horizontal {
    gap: 10px;
    padding: 5px;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
}

.tt-card__item-film {
    width: 320px;
    overflow: hidden;
    height: 500px;
    border-radius: 8px;
    position: relative;
}






.card__item-title {
    position: absolute;
    color: var(--white);
    top: 16px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    z-index: 10;
}

.movie-card__bg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.movie-card__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay {
    top: 0;
    width: 100%;
    height: 30%;
    position: absolute;
    background: linear-gradient(to bottom, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 0%) 100%);
}

.tt-card__item-film .card__item-mask {
    position: relative;
    height: 100%;
    display: none;
    padding: 100px 20px 10px 20px;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    grid-template-rows: 30px auto 100px 60px;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}








.card__item-mask .select-session-date {
    position: relative;
    text-align: center;
    align-content: center;
}
.card__item-mask .select-session-date .session-date{
    border: none;
    background-color: transparent;
    color: var(--white80);
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.card__item-mask .select-session-date .session-date__popup{
    position: absolute;
    background-color: var(--gray);
    border-radius: 8px;
    width: 100%;
    display: none;
    padding: 5px;
    top: -13px;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0;
    flex-direction: column;
}
.card__item-mask .select-session-date .session-date__popup li{
    font-size: 16px;
    color: var(--white);
    height: 46px;
    font-weight: 500;
    border-radius: 8px;
    align-content: center;
    cursor: pointer;
}

.card__item-mask .sessions {
    gap: 10px;
    padding: 0;
    display: grid;
    align-self: start;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.card__item-mask .sessions .sessions-time{
    color: var(--white);
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    background-color: var(--white20);
}



.card__item-mask .closest-session {
    background-color: var(--white20);
    border-radius: 8px;
    margin: 20px 0;
    display: flex;
    font-weight: 500;
    padding: 5px;
    color: var(--white);
    text-transform: uppercase;
    align-items: center;
}

.card__item-mask .closest-session .next-session {
    margin: 0 auto;
    font-size: 18px;
}

.card__item-mask .closest-session .buy-link {
    height: 100%;
    width: 180px;
    border-radius: 6px;
    cursor: pointer;
    align-content: center;
    text-align: center;
    background-color: var(--baseAccent);
}

.closest-session .buy-link .top-text {
    font-weight: 500;
    font-size: 13px;
}

.closest-session .buy-link .current-price {
    font-weight: 300;
    font-size: 11px;
}








.card__item-mask .bottom-links{
    gap: 20px;
    font-size: 12px;
    display: flex;
}

.card__item-mask .bottom-links .movie-details__link,
.card__item-mask .bottom-links .movie-trailer__btn{
    background-color: transparent;
    color: var(--white);
    width: 100%;
    display: flex;
    text-align: left;
    cursor: pointer;
    line-height: 16px;
    gap: 5px;
    border: none;
    padding: 0;
    align-items: center;
}

.card__item-mask .bottom-links .movie-details__link::before,
.card__item-mask .bottom-links .movie-trailer__btn::before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    background-color: var(--white20);
    padding: 20px;
    background-image: url(/icons/svg/info-circle.svg);
}

.card__item-mask .bottom-links .movie-trailer__btn::before{
    background-image: url(/icons/svg/play-circle.svg);
}








.tt-card__item-film .movie-card__bg,
.select-session-date .session-date,
.sessions .sessions-time,
.closest-session .buy-link,
.bottom-links .movie-details__link::before,
.movie-trailer__btn::before,
.tt-card__list-section .tt-card-toleft::before,
.tt-card__list-section .tt-card-toright::before {
    transition: background-color .3s ease, filter .3s ease, transform .3s ease, color .3s ease;
}

















.tt-card__list-section .tt-card-toleft,
.tt-card__list-section .tt-card-toright {
    z-index: 10;
    width: 60px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    text-align: center;
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
}
.tt-card__list-section .tt-card-toleft{
    left: 0;
}
.tt-card__list-section .tt-card-toright {
    right: 0;
}

.tt-card__list-section .tt-card-toleft::before,
.tt-card__list-section .tt-card-toright::before {
    left: 0;
    content: "";
    z-index: 30;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    background-color: var(--white50);
    border-radius: 14px;
    top: calc(50% - 30px);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/icons/svg/arrow-left-square.svg);
}
.tt-card__list-section .tt-card-toright::before  {
    right: 0;
    background-image: url('/icons/svg/arrow-right-square.svg');
}
.tt-card__list-section .tt-card-toleft:hover::before,
.tt-card__list-section .tt-card-toright:hover::before {
    background-color: var(--alto);
}
.tt-card__list-section .tt-card-toleft:active::before,
.tt-card__list-section .tt-card-toright:active::before {
    box-shadow: 0 0 0 .2rem var(--white);
}












/*<---card-list-end--->*/


.tt-centered-container {
    max-width: 1590px;
    margin: 0 auto;
}

/*<---section-sots-start--->*/
.tt-sots__section {
    margin: 5px;
}
.tt-sots__container {
    display: block;
    background-color: var(--alto);
    border-radius: 10px;
    width: 100%;
    height: 800px;
}

/*<---section-sots-end--->*/


/*<---section-info-start--->*/
.tt-info__section {
    gap: clamp(2px, 1vw, 5px);
    margin: 5px;
    display: grid;
}

.tt-info-slider{
    display: grid;
    text-align: center;
    background-color: var(--alto);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.tt-slides-container {
    height: 200px;
    margin: 0 35px;
    overflow: hidden;
    align-content: center;
}
.tt-info-slider .item {
    justify-content: center;
}
@keyframes fadeNext {
    from {
        opacity: 0.1;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fadePrev {
    from {
        opacity: 0.1;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.dots-container {
    bottom: 0;
    margin-bottom: 5px;
    text-align: center;
    position: absolute;
}
.dots-container:nth-child(4) {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--gray-light);
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}
.dot.active {
    background-color: var(--gray);
}

.tt-info__btn-prev {
    background-image: url('../icons/svg/arrow-left-square.svg');
}
.tt-info__btn-next {
    background-image: url('../icons/svg/arrow-right-square.svg');
}
.tt-info__btn-prev,
.tt-info__btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100px;
    border-style: none;
    filter: opacity(0.3);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: filter .3s ease, transform .3s ease;
}
.tt-info__btn-next {
    right: 0;
}

.tt-info__text-area-p {
    max-width: 800px;
    letter-spacing: 1px;
}


.tt-sub-info-area {
    background-color: var(--mine-shaft);
    height: 100px;
    border-radius: 0 0 10px 10px;
}
.tt-sub-info-area_img-container {
    height: 100px;
    background-image: url('../img/decor_sub-info.svg');
    background-size: cover;
    background-position: center;
}

/*<---section-info-end--->*/




@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px) {
    .tt-card__list-section {
        max-height: none;
    }

    .tt-card__progress-bar-content {
        top: 0;
        z-index: 1000;
        position: sticky;
    }

    .tt-card__container_horizontal {
        grid-auto-flow: row;
        padding: 14px;
    }

    .tt-card__item-film {
        width: auto;
        height: 80vw;
    }
}
@media screen and (min-width: 1023px) {

    /* .tt-card__item-film:hover {
        box-shadow: 0 0 0 .2rem #62faff66;
    } */

    .tt-card__list-section:hover .tt-card-toleft,
    .tt-card__list-section:hover .tt-card-toright {
        animation-name: fadeIn;
    }

    .tt-card__item-film:hover .card__item-mask {
        display: grid;
    }

    .closest-session .buy-link:hover {
        background-color: var(--base-accent-lighter);
    }

    .card__item-mask .sessions .sessions-time:hover{
        background-color: var(--white80);
        color: var(--gray);
    }

    .card__item-mask .select-session-date .session-date__popup li:hover{
        background-color: var(--baseAccent);
        color: var(--alto);
    }

    .card__item-mask .select-session-date .session-date:hover{
        color: var(--gray);
        background-color: var(--white80);
    }


    .tt-card__item-film:hover .movie-card__bg {
        transform: scale(1.03);
        filter: blur(8px) grayscale(0.7) brightness(0.35);
    }

    .bottom-links .movie-details__link:hover::before,
    .bottom-links .movie-trailer__btn:hover::before {
        background-color: var(--baseAccent);
    }
}

@media screen and (max-width: 910px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 630px) {
    .tt-info__text-area-p {
        letter-spacing: 0;
    }

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 320px) {
}