:root{
    --color-eclipse: #301818;
    --color-zinnwaldite: #e9b5a7;
    --color-mercury70: #e9b5a7;
    --color-mine-shaft: #3c3939;
    --color-mine-shaft23: #3c39393b;
    --color-mercury: #e8e8e8a4;
    --color-clam-shell: #CFADA5;
}


ul {
    padding: 0;
    margin: 16px 0;
}

.cp_main-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    display: flex;
    padding: 0 8px;
    flex-direction: column;
}

.tt-bread-crumbs {
    margin: 12px 0 8px 16px;
}

.tt-bread-crumbs li {
    float: left;
}
.tt-breadcrumbs__item {
    text-decoration: underline var(--alto) 1px;
}

.tt-breadcrumbs__item a {
    color: var(--alto);
    font-weight: 500;
    vertical-align: top;
}
.tt-breadcrumbs__item_last {
    color: var(--gray-light);
    font-weight: 500;
}
.tt-breadcrumbs__item::after{
    margin: 0 6px;
    position: relative;
    bottom: 1px;
    display: inline-block;
    content: url('/icons/svg/arrow-next16.svg');
}

.tt-movie-info_container * {
    font-weight: 500;
}

.tt-movie-info_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tt-info-column1 {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    background-color: var(--alto);
}

.tt-movie-header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
}


.tt-movie-name {
    margin: 0;
    padding: 10px;
    max-width: 800px;
    width: fit-content;
    font-size: x-large;
    border-radius: 10px;
    color: var(--color-eclipse);
    background-color: #3c39393b;
}
.tt-movie-name:nth-child(2) {
    align-self: center;
}

.tt-movie-favorites__btn {
    border: none;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-mine-shaft23);
}


.tt-movie-data li {
    line-height: 20px;
    overflow: hidden;
}

.tt-movie-data li .key,
.tt-movie-data li .value {
    color: var(--color-mine-shaft);
    float: left;
    width: 200px;
    margin: 8px 0;
}

.tt-movie-data li .key-img{
    display: flex;
    align-items: center;
}
.tt-movie-data li .key-img::after {
    content: "";
    width: 45px;
    height: 24px;
    margin-left: 5px;
    display: inline-block;
    background-size: 45px 24px;
    background-repeat: no-repeat;
    background-image: url('/icons/svg/imdb-logo.svg');
}

.tt-movie-data li .value {
    width: calc(100% - 200px);
    color: var(--color-eclipse);
}

.tt-movie-description {
    margin: 16px 0;
    position: relative;
    border-radius: 10px;
    word-break: break-word;
    color: var(--color-eclipse);
    padding: 36px 24px 10px 24px;
    background-color: var(--color-mine-shaft23);
}
.tt-movie-description .title-description {
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    border-radius: 10px 0;
    background-color: #89898966;
}
.tt-movie-description p {
    font-weight: 450;
    word-spacing: 4px;
}

.tt-movie-recommendations .title-recommendations:nth-child(1) {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: var(--color-eclipse);
}

.tt-movie-recommendations .rec-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding-top: 10px;
}

.tt-movie-recommendations .movie-item {
    width: 100%;
    height: 382px;
    border-radius: 10px;
    background-color: #a06868;
}


.tt-info-column2 {
    top: 75px;
    z-index: 2;
    height: 100%;
    list-style: none;
    gap: 8px;
    display: grid;
    position: -webkit-sticky;
    position: sticky;
    padding: 0 10px;
    transition: top .3s ease, font .3s ease;
}

.tt-movie-cover {
    height: 450px;
    transition: height .3s ease, width .3s ease;
}
.tt-movie-cover img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tt-movie-rating {
    display: flex;
    width: 320px;
    height: 50px;
    gap: 8px;
    color: var(--color-eclipse);
    justify-content: space-between;
    align-items: center;
}

.like-button,
.dislike-button {
    border: none;
    color: var(--alto);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: 7rem;
    width: 4rem;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    transition: background-color 0.3s ease, width 0.3s ease;
    background-color: var(--white20);
}

.like-button:active {
    animation: pulse-like 0.2s linear;
}
.dislike-button:active {
    animation: pulse-dislike 0.2s linear;
}
@keyframes pulse-like {
    0% {
        box-shadow: #86dc87 0 0 0 6px;
    }
}
@keyframes pulse-dislike {
    0% {
        box-shadow: #ef8e8e 0 0 0 6px;
    }
}

.rating-bar {
    width: 150px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-mine-shaft23);
}

.positive-bar {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #67c359;
    transition: width .3s ease;
    width: 0;
}

.negative-bar {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #ff5b5b;
    transition: width .3s ease;
    width: 0;
}

.tt-movie-actions__list {
    margin: 0;
    display: flex;
    width: 100%;
    gap: 5px;
    flex-direction: column;
}

.tt-movie-trailer__item,
.tt-movie-buy-ticket__item  {
    width: 100%;
    height: 48px;
    display: flex;
    border-radius: 10px;
}

.tt-movie-trailer__btn {
    width: 100%;
    border: none;
    display: flex;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease;
    justify-content: center;
    color: var(--white20);
    background-color: var(--color-mine-shaft23);
}
.tt-movie-trailer__btn::before {
    content: url('/icons/svg/play-video.svg');
}

.tt-movie-buy-link {
    width: 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 4px 8px;
    justify-content: center;
    transition: background-color .2s ease;
    color: var(--alto);
    background-color: var(--baseAccent);
}
.tt-movie-buy-link::before {
    content: url('/icons/svg/shopping-basket.svg');
}

.tt-movie-trailer__btn:active,
.tt-movie-buy-ticket__item:active {
    animation: push-btn 0.2s linear;
}
@keyframes push-btn {
    0% {box-shadow: #301818b2 0 0 0 4px;}
}

.tt-mobile-sticky-actions {
    background-color: var(--gray);
    display: none;
    position: sticky;
    bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    gap: 4px;
}



@media screen and (max-width: 1439px) {
    .tt-info-column2{
        top: 65px;
    }
    .tt-movie-cover {
        height: 370px;
    }

    .like-button, .dislike-button {
        font-size: 14px;
    }
}


@media screen and (max-width: 1023px) {
    .tt-movie-cover {
        height: 330px;
    }
    .tt-info-column2{
        gap: 4px;
    }

}
@media screen and (max-width: 900px) {
    .tt-mobile-sticky-actions {
        display: flex;
    }

    .tt-movie-cover {
        margin-bottom: 10px;
    }
    .tt-info-column2 {
        display: none;
    }

    .tt-movie-rating {
        margin: 16px auto 0 auto;
    }

    .tt-movie-actions__list {
        flex-direction: row;
    }
}
@media screen and (min-width: 900px) {
    .tt-breadcrumbs__item:hover {
        text-decoration: none;
    }

    .tt-breadcrumbs__item a:hover {
        color: var(--base-accent-lighter);
    }

    .like-button:hover {
        background-color: #67c359;
    }
    .dislike-button:hover {
        background-color: #ff5b5b;
    }
    .tt-movie-trailer__btn:hover {
        background-color: var(--white50);
    }
    .tt-movie-buy-link:hover {
        background-color: var(--base-accent-lighter);
    }
}

@media screen and (max-width: 600px) {
    .tt-movie-data li .key {
        width: 170px;
    }
    .tt-movie-data li .value {
        width: calc(100% - 170px);
    }
}

@media screen and (max-width: 479px) {
    .tt-movie-data li .key {
        width: 155px;
    }
    .tt-movie-data li .value {
        width: calc(100% - 155px);
    }
}