<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset-styles.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/icons/png/favicon.png"/>
    <title>Ticket.ua</title>
</head>
<body>
<div class="tt-main_container">
    <header class="cp_header-wrapper" th:insert="~{fragments/header :: header}"></header>
    <div class="tt-main-wrapper">

        <section class="tt-card__list-section">
            <div class="tt-card-toleft"></div>
            <div class="tt-card-toright"></div>
            <div class="tt-card__progress-bar-content">
                <span class="tt-card__progress-bar-label" id="mid-card__progress-bar-label">Сьогодні у кіно</span>
                <div class="tt-card__progress-bar-status" id="mid-card__progress-bar-status"></div>
            </div>
            <div class="tt-card__container_horizontal" id="mid-card__container_horizontal">
                <div class="tt-card__item-film" th:each="el : ${movie}">
                    <span th:text="${el.movieName}" class="card__item-title"></span>
                    <div class="movie-card__bg">
                        <img th:src="${'/uploads/' + el.coverPath}" alt="movie cover missing..">
                        <div class="overlay"></div>
                    </div>
                    <div class="card__item-mask" id="card__item-mask">
                        <div class="select-session-date" id="select-session-date">
                            <button class="session-date" id="session-date__btn" onclick="showDaysPopup()">сьогодні</button>
                            <ul class="session-date__popup" id="session-date__popup">
                                <li>сьогодні</li>
                                <li>завтра</li>
                                <li>пн. 1 травня</li>
                                <li>вт. 2 травня</li>
                                <li>ср. 3 травня</li>
                                <li>чт. 4 травня</li>
                                <li>пт. 5 травня</li>
                            </ul>
                        </div>
                        <ul class="sessions">
                            <li class="sessions-time">12:45</li>
                            <li class="sessions-time">14:25</li>
                            <li class="sessions-time">16:45</li>
                            <li class="sessions-time">19:10</li>
                            <li class="sessions-time">22:00</li>
                        </ul>
                        <div class="closest-session">
                            <span class="next-session">12:45</span>
                            <a class="buy-link">
                                <span class="top-text">Придбати квиток</span>
                                <span class="current-price">120 грн</span>
                            </a>
                        </div>
                        <div class="bottom-links">
                            <a class="movie-details__link" th:href="@{/movie-info/{id}(id=${el.id})}">Детальніше про фільм</a>
                            <button class="movie-trailer__btn">Дивитись трейлер</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="tt-centered-container">
            <section class="tt-sots__section">
                <div class="tt-sots__container"></div>
            </section>
            <section class="tt-info__section">
                <div class="tt-info-slider">
                    <div class="tt-slides-container">
                        <div class="item">
                            <h1 class="tt-info__text-area-title">Насолоджуйся</h1>
                            <p class="tt-info__text-area-p">Якщо вам потрібна допомога в кінотеатрі або ви хочете мати під
                                рукою пухнастий плед під час сеансу, звертайтеся до команди кінотеатру "Ticket".
                                Адже наша робота - зробити так, щоб вам було максимально комфортно під час перегляду
                                фільму!</p>
                        </div>
                        <div class="item">
                            <h1 class="tt-info__text-area-title">Повернення квитків</h1>
                            <p class="tt-info__text-area-p">Якщо у Вас виникли труднощі з відвідуванням сеансу,
                                або з якихось причин Ви не змогли потрапити до кінотеатру,
                                ви можете легко повернути квитки, та отримати свої кошти.
                                Просто зайдіть у відповідний розділ на сайті, та зручно оформіть повернення.</p>
                        </div>
                        <div class="item">
                            <h1 class="tt-info__text-area-title">Все ж пам'ятайте:</h1>
                            <p class="tt-info__text-area-p">У наших кінозалах категорично забороняється проводити фото-
                                і відеозйомку контенту,
                                який ви бачите перед собою на екранах!</p>
                        </div>
                    </div>
                    <button class="tt-info__btn-prev" id="hid-info-area-prev" onclick="previousSlide()"></button>
                    <button class="tt-info__btn-next" id="hid-info-area-next" onclick="nextSlide()"></button>
                    <div class="dots-container"></div>
                </div>
                <div class="tt-sub-info-area">
                    <div class="tt-sub-info-area_img-container"></div>
                </div>
            </section>
        </div>
    </div>
    <footer class="tt-footer_section" th:insert="~{fragments/footer :: footer}"></footer>
</div>
<script src="/js/base.js"></script>
<script src="/js/script.js"></script>
</body>
</html>

