<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset-styles.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/movieInfo.css"/>
    <link rel="icon" href="/icons/png/favicon.png" />
    <title>Ticket.ua</title>
</head>

<body>
<div class="tt-wrapper">
    <header class="cp_header-wrapper" th:insert="~{fragments/header :: header}"></header>
    <main>
        <div class="cp_main-wrapper">
            <ul class="tt-bread-crumbs">
                <li class="tt-breadcrumbs__item"><a href="/">Ticket</a></li>
                <li class="tt-breadcrumbs__item"><a href="">Фільми</a></li>
                <li class="tt-breadcrumbs__item_last">Уявний друг</li>
            </ul>
            <div th:each="mi : ${movieInfos}" class="tt-movie-info_container">
                <div class="tt-info-column1" id="mid-info-column1">
                    <div class="tt-movie-header" id="mid-movie-header">
                        <span th:text="${mi.movieName}" class="tt-movie-name"></span>
                        <button class="tt-movie-favorites__btn" id="mid-favorites__btn">
                            <img src="/icons/svg/favorites_btn.svg" alt="">
                        </button>
                    </div>
                    <ul class="tt-movie-data">
                        <li>
                            <p class="key">Рік:</p>
                            <p th:text="${mi.year}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Жанр:</p>
                            <p th:text="${mi.genre}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Вік:</p>
                            <p th:text="${mi.allowableAge}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Країна:</p>
                            <p th:text="${mi.country}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Тривалість:</p>
                            <p th:text="${mi.duration}" class="value"></p>
                        </li>
                        <li>
                            <p class="key key-img">Рейтинг</p>
                            <p th:text="${mi.ratingIMDB}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Період прокату:</p>
                            <p th:text="${mi.rentalPeriodFrom + ' - ' + mi.rentalPeriodTo}" class="value"></p>

                        </li>
                        <li>
                            <p class="key">Мова:</p>
                            <p th:text="${mi.language}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Оригінальна назва:</p>
                            <p th:text="${mi.originalName}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Режисер:</p>
                            <p th:text="${mi.director}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">Бюджет:</p>
                            <p th:text="${mi.budget}" class="value"></p>
                        </li>
                        <li>
                            <p class="key">У головних ролях:</p>
                            <p th:text="${mi.starring}" class="value"></p>
                        </li>
                    </ul>
                    <div class="tt-movie-description">
                        <span class="title-description">Опис фільму</span>
                        <p th:text="${mi.movieDescription}"></p>
                    </div>
                    <div class="tt-mobile-sticky-actions" id="mid-sticky-actions">
                    </div>
                    <div class="tt-movie-recommendations">
                        <span class="title-recommendations">Дивіться також</span>
                        <div class="rec-list">
                            <div class="movie-item"></div>
                            <div class="movie-item"></div>
                            <div class="movie-item"></div>
                            <div class="movie-item"></div>
                        </div>
                    </div>
                </div>
                <div class="tt-info-column2" id="mid-info-column2">
                    <div class="tt-movie-cover" id="mid-movie-cover">
                        <img th:src="${'/uploads/' + mi.coverPath}" alt="">
                    </div>
                    <div class="tt-movie-rating" id="mid-movie-rating">
                        <button class="like-button" id="like-button">
                            <img class="like-button__img" src="/icons/svg/like-btn.svg" alt="">
                            <span th:text="${mi.posVotesCount}" id="like-count"></span>
                        </button>
                        <div class="rating-bar">
                            <div class="positive-bar" id="positive-bar"></div>
                            <div class="negative-bar" id="negative-bar"></div>
                        </div>
                        <button class="dislike-button" id="dislike-button">
                            <img class="dislike-button__img" src="/icons/svg/dislike-btn.svg" alt="">
                            <span th:text="${mi.negVotesCount}" id="dislike-count"></span>
                        </button>
                    </div>
                    <ul class="tt-movie-actions__list" id="mid-actions__list">
                        <li class="tt-movie-trailer__item" id="mid-trailer__item">
                            <button class="tt-movie-trailer__btn">Дивитись трейлер</button>
                        </li>
                        <li class="tt-movie-buy-ticket__item" id="mid-buy-ticket__item">
                            <a href="#" class="tt-movie-buy-link">Придбати квиток</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="tt-footer_section" th:insert="~{fragments/footer :: footer}"></footer>
</div>
<script src="/js/base.js"></script>
<script src="/js/movie/movie-info.js"></script>
</body>
</html>