
.list-vert {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mr_8 {
    margin-right: 8px;
}

.mtb_8 {
    margin-top: 8px;
    margin-bottom: 8px;

}

.mtb_16 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.plr_16 {
    padding: 0 16px;
}

.menu-btn {
    width: 100%;
    display: flex;
    background-color: var(--gray-lower);
    /*margin-bottom: 10px;*/
    align-items: center;
}





















/*movies-temp----------------*/

.mm-popup-cont {
    position: relative;
}

.mm-popup-cont .movie-tools{
    margin-left: auto;
    border-radius: 8px;
}
.mm-popup-cont.movie-sort-tool{
    position: relative;
    /*margin-left: auto;*/
    border-radius: 8px;
}

.mm-popup-cont .more__btn {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}
.mm-popup-cont .more__btn:active {
    box-shadow: var(--white50) 0 0 1px 3px;
}

.mm-popup-cont .more__btn.movie-more__btn {
    width: 50px;
    height: 50px;
    background-image: url(/icons/cinema-manager/svg/more-vertical_24.svg);
}
.mm-popup-cont .more__btn.sorting-more__btn {
    width: 40px;
    height: 40px;
    background-image: url(/icons/cinema-manager/svg/view-sorting_32.svg);
}

.mm-popup-cont .mm-popup {
    display: none;
    position: absolute;
    margin-top: 2px;
    right: 0;
    z-index: 30;
    gap: 5px;
    background-color: var(--mine-shaft);
    padding: 8px;
    text-align: center;
    border-radius: 8px;
}
.mm-popup-cont .mm-popup.visible {
    display: block;
}

.more-menu__popup {

}
@keyframes moreMenuVisible {
    from {opacity: 0;}
    to { opacity: 1;}
}

.mm-popup .popup__btn{
    width: 100%;
}

.mm-popup .popup__label{
    display: block;
    min-width: 220px;
    text-align: left;
    cursor: pointer;
}
.mm-popup .popup__radio{
    display: none;
}
.popup__radio:checked + .popup__label {
    background-color: var(--baseAccent);
}

.mm-popup .popup__btn.delete {
    background-color: #ff4444;
}

















.hide {
    display: none;
}
.visible {
    display: flex;
}

@media screen and (max-width: 768px) {

}
@media screen and (min-width: 768px) {

    .head__btn:hover {
        background-color: var(--white);
    }

    .popup__radio:not(:checked) + .popup__label:hover {
        background-color: var(--white20);
    }
}








.select {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: auto;
    margin-top: .5rem;
    gap: 4px;
    transition: height .3s ease;
    animation-name: visible;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes visible {
    from {
        opacity: 0.1;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.select__item {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    text-align: left;
    color: var(--alto);
    background-color: var(--mine-shaft);
    transition: background-color 0.1s;
}

.select__item-selected {
    background: var(--gray);
    color: #ffffff;
}