@font-face {
    font-family: "Unbounded";
    src: url("/src/fonts/Unbounded-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/src/fonts/Unbounded-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/src/fonts/Unbounded-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/src/fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/src/fonts/Unbounded-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/src/fonts/Unbounded-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

:root {
    --alto: #d3d3d3;
    --white20: #f0f0f038;
    --white50: #f0f0f085;
    --white80: #f0f0f0ba;
    --white: #f0f0f0;
    --base-accent-lighter: #ab4c16;
    --baseAccent: #913e0f;
    --mine-shaft: #393939;
    --gray-light: #adadad;
    --gray-lower: #413f3f;
    --gray: #2d2b2b;
    --dark-gray: #1c1918;
    --green: #00b344;
    --greenContr: #00b344ab;
    --redContr: #e93535c2;
    --red: #e93535;




    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-725: #39393f;
    --zinc-750: #323238;
    --zinc-800: #27272a;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "Unbounded", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto,  Oxygen, Ubuntu, Cantarell, "Open Sans","Helvetica Neue",
    sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
}




.cp_wrapper {
    min-height: 100vh;
    position: relative;
    background-color: var(--zinc-700)
}

.cp_header-wrapper {
    padding: .5rem;
    background-color: var(--zinc-800);
    position: -webkit-sticky;
    position: sticky;
    color: var(--zinc-300);
    top: 0;
    z-index: 50;
    box-shadow: 0 2px 10px 0 #1111117c
}

.cp_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp_menu--btn {
    color: var(--zinc-800);
    padding: .25rem .5rem;
    background-color: var(--zinc-300);
    border-radius: .5rem;
    align-items: center;
    display: flex;
    z-index: 20;
    gap: 4px;
}
.cp_menu--btn:hover {
    background-color: var(--zinc-400);
}
.cp_title {
    text-align: left;
    font-size: inherit;
    font-weight: 500;
    margin: 0 .25rem;
}


.cp_menu-side {
    height: 100%;
    width: 26rem;
    display: grid;
    z-index: 10;
    top: 0;
    position: fixed;
    overflow-x: hidden;
    padding-top: 4rem;
    background-color: var(--zinc-800);
    grid-template-rows: 0fr 1fr 0fr 0fr;
    right: -26rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.cp_menu-side.opened {
    right: 0;
}
.cp_menu-side--head {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: .5rem auto;
}


.cp_menu--actions {

}
.cp_menu--actions--list {
    margin: .75rem 0;
    padding: 0 .5rem;
}
.cp_menu--actions--item {
    margin-top: 0.75rem;
}
.cp_menu--actions--link {
    background-color: var(--zinc-700);
    display: flex;
    border-radius: .75rem;
    gap: .5rem;
    width: 100%;
    height: 3rem;
    align-items: center;
    padding: .5rem 1rem;

}
.cp_menu--actions--link:hover {
    background-color: var(--zinc-600);
}





.cp_main-wrapper {
    transition: filter .4s ease;
    animation: .3s ease-in-out  0s 1 running showContentAnimate
}

.cp_quick-action {
    margin: 0 auto;
    height: 24rem;
    max-width: 28rem;
    text-align: center;
    align-content: center
}
.cp_quick-action * {
    color: var(--zinc-300)
}

.cp_quick-action--head {
    font-weight: 600;
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 .5rem
}

.cp_quick-action--list {
    margin: 0 .5rem
}
.cp_quick-action--item {

    margin-top: 1rem;
    position: relative;
    text-align: start;
    transition-property: color, background-color, border-color, text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.cp_quick-action--svg {
    position: absolute;
    left: .75rem;
    top: 50%;
    z-index: 20;
    transform: translateY(-50%)
}

.cp_quick-action--link {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    background-color: var(--zinc-800);
    overflow: hidden;
    width: 100%;
    height: 4rem;
    border-radius: .75rem;
    display: flex;
    /* z-index: 10; */
    position: relative;
    padding: .5rem .5rem .5rem 4rem;
    align-items: center;
}



.cp_form--wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.cp_form--create-movie .cp_sections-wrapper {
    gap: 1.25rem;
    flex-direction: column;
    display: flex;
    margin: 0 .5rem;
}

.cp_sections-wrapper .cp_group {
    background-color: var(--zinc-600);
    border-radius: 1rem;
    padding: .375rem;
}

















.cp_group.head {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto 0fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 1rem;
}

.cp_group.head .cp_poster-preview:nth-child(1) {
    overflow: hidden;
    height: 200px;
    border-radius: .75rem;
    grid-row: 1 / 3;
}
.cp_group.head .cp_poster-preview img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.cp_group.head .cp_input--field:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}




.cp_upload-file {
    display: contents;
}

.file__input {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    width: 100%;
    text-align: center;
    align-content: center;
    border-radius: .75rem;
    height: 40px;
    padding: 8px 10px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--greenContr);
    color: #fff;
}






.cp_group.details {
    display: grid;
    grid-gap: 1rem;
}

.rental-period-block {
    grid-template-columns: auto auto;
    display: grid;
    column-gap: .5rem;
}







.cp_sections-wrapper .form-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    padding: .375rem;
    gap: .5rem;
    margin-bottom: 1rem;
}

.form-controls .form-controls--btn {
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    height: 48px;
    color: #ffffff;
}
.form-controls .form-controls--btn:first-child {
    background-color: var(--redContr);
    max-width: 110px;
}
.form-controls .form-controls--btn:last-child {
    background-color: var(--greenContr);
    max-width: 200px;
}














@media (hover: hover) {
    .cp_quick-action--link:hover {
        background-color: var(--zinc-600);
    }

    .cp_upload-file .custom-file-upload:hover {
        background-color: var(--green);
    }

    .form-controls .cancel:hover {
        background-color: var(--red);
    }
    .form-controls .create:hover {
        background-color: var(--green);
    }
}




@media screen and (max-width: 450px) {
    .cp_group.head {
        grid-row-gap: 0;
        grid-template-columns: auto;
    }

    .cp_group.head .cp_poster-preview:nth-child(1) {
        justify-self: center;
        grid-row: 1;
    }

    .cp_group.head .custom-file-upload {
        margin-top: .5rem;
    }

    .cp_group.head .cp_input--field:nth-child(2) {
        grid-column: 1;
        grid-row: 3;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .cp_group.head .file__input:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    .rental-period-block {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 1rem;
    }
}


























