
.btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition-property: color, background-color, border-color, text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    line-height: normal;
    align-content: center;
}
.btn.active {
    transition-property:scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .3s;
    scale: 0.98;
    box-shadow: 0 0 1px 2px var(--zinc-200);
}



@media (hover: none) {
    /*.btn:active {*/
    /*    transition-property: transform, scale;*/
    /*    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    /*    transition-duration: .4s;*/
    /*    scale: 0.98;*/
    /*    box-shadow: 0 0 0 3px var(--zinc-200);*/
    /*}*/
}

.separator {
    height: 1px;
    margin: .25rem .75rem;
    background-color: var(--zinc-700);
}


.cp_accordion {
    width: 100%;
    overflow: auto;
    margin: .5rem auto;
    padding: .25rem .5rem;
}
.cp_accordion--item {
    background-color: var(--zinc-700);
    margin-bottom: .75rem;
    border-radius: .75rem;
    box-shadow: 0 .25rem .325rem 0 rgb(0 0 0 / 15%);
}
.cp_accordion--item:not(.cp_accordion--item--show) .cp_accordion--body {
    display: none;
    border-radius: 0 0 .75rem .75rem;
}

.cp_accordion--header {
    position: relative;
    z-index: 20;
    display: flex;
    height: 4rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    border-radius: .75rem;
    padding: .5rem 1rem;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.cp_accordion--header:hover {
    background-color: var(--zinc-600);
}

.cp_accordion--header--arrow {
    margin-left: auto;
    transition: transform .2s .2s  ease-out;
}
.cp_accordion--item--show .cp_accordion--header--arrow,
.cp_accordion--item--expand .cp_accordion--header--arrow {
    transform: rotate(90deg);
}

.cp_accordion--content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.cp_accordion--content a {
    position: relative;
    height: 3rem;
    align-content: center;
    display: block;
    padding: .75rem .75rem .75rem 3.5rem;
    background-color: var(--zinc-750);
}
.cp_accordion--content a:hover {
    background-color: var(--zinc-725);
}
.cp_accordion--content a:last-child {
    border-radius: 0 0 .75rem .75rem;
}




.line {
    fill: none;
    stroke: #2d2b2b;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}























.dropdown {
    display: none;
}
.dropdown__input {
    cursor: pointer;
    background-image: url('/icons/cinema-manager/svg/arrow-down_24-gray.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
}










.cp_input--field .inp-area,
.cp_input--select .inp-area,
.cp_input--date .inp-area {
    display: block;
    width: 100%;
    height: calc(3rem + 6px);
    padding: 1.625rem 0.75rem .625rem .75rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    border-radius: .75rem;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cp_input--field .text-field,
.cp_input--date .date-inp,
.cp_input--select .dropdown-select{
    color: #212529;
    background-color: var(--zinc-300);
}


.cp_input--field, .cp_input--select, .cp_input--date {
    position: relative;
}

.cp_input--field .text-tip--wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 150ms ease-in-out;
}
.text-tip--wrapper .text-tip {
    min-height: 0;
}
.cp_input--field:focus-within .text-tip--wrapper {
    grid-template-rows: 1fr;
}
.text-tip .text-tip--content {
    color: var(--zinc-200);
    text-align: right;
    word-spacing: 1px;
    text-wrap: balance;
}

















.cp_input--field .text__label,
.cp_input--date .text__label,
.cp_input--select .text__label{
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    display: block;
    padding: 1rem 0.75rem;
    color: var(--dark-gray);
    pointer-events: none;
    border: none;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.inp-area::-moz-placeholder{
    color: transparent;
}
.inp-area:focus{
    box-shadow: 0 0 0 0.2rem var(--zinc-400);
    outline: 0;
    background-color: var(--zinc-200);
}
.inp-area:not(:placeholder-shown){
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.inp-area:focus ~ .text__label,
.inp-area:not(:placeholder-shown) ~ .text__label{
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
}

.field-component.invalid .inp-area:focus{
    box-shadow: 0 0 0 0.2rem var(--red);
}
.field-component.invalid {
    box-shadow: 0 0 1px .2rem var(--red);
    animation-name: invalidShaking;
    border-radius: .75rem;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    outline: 0;
    background-color: var(--zinc-200);
}















.cp_input--field .text-area__inp {
    max-width: 750px;
    min-height: 150px;
    max-height: 400px;
    resize: block;
}



@media screen and (max-width: 600px) {
    .cp_menu-side.opened {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .cp_menu-side {
        padding-top: .5rem;
    }
    .menu-side__ttl {
        padding-left: 50%;
    }
}