@import url(-component.css);




.menu-btn.home {
    margin-bottom: 10px;
}

.menu-btn::before {
    content: "";
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
}
.menu-btn.home::before {
    background-image: url(/icons/cinema-manager/svg/home32.svg);
}
.menu-btn.logout::before {
    background-image: url(/icons/cinema-manager/svg/logout32.svg);
}

.item::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--gray-lower);
}





















.movie-list_container {
    display: grid;
    width: 100%;
    max-width: 1920px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}




.movie-card__item {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    width: 100%;
    height: 110px;
    padding: 8px;
    color: var(--alto);
    border-radius: 8px;
    position: relative;
    align-items: center;
    background-color: var(--white20);
}

.movie-card__bg {
    width: 70px;
    height: 100%;
    margin-right: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.movie-card__bg.reduced {
    width: 40px;
    height: 50px;
}
.movie-card__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.card__item-text {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.card__item-text.title{

}
.card__item-text.year{
    margin-left: auto;
}



















.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.movie-tool-bar {
    display: flex;
    width: 100%;
    padding: 0 16px;
    max-width: 1920px;
    align-items: center;
    justify-content: center;
}



















.movie-tool-bar .movies-search__comp{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}
.movies-search__comp .search__inp{
    border: 1px #e6e6e600 outset;
    width: 100%;
    height: 40px;
    color: #dfdfdf;
    background-color: var(--white20);
    border-radius: 8px 0 0 8px;
    padding: 0.5rem 0.5rem;
    transition: background-color .3s ease;
}
.movies-search__comp .search__inp::placeholder {
    color: #dfdfdfa2;
}
.movies-search__comp .search__inp:focus::placeholder {
    color: var(--gray);
}
.movies-search__comp .search__inp:focus {
    outline: none;
    color: var(--dark-gray);
    background-color: #ebebebd5;
}
.movies-search__comp:focus-within {
    box-shadow: var(--white50) 0 0 1px 3px;
}

.movies-search__comp .search__btn{
    width: 3rem;
    height: 40px;
    border-radius: 0 8px 8px 0;
    background: url(/icons/svg/search_btn-icon.svg) no-repeat center var(--white20);
}

.movies-search__comp .search-preview-popup {
    display: none;
    width: 100%;
    top: 50px;
    color: var(--alto);
    padding: 4px;
    border-radius: 8px;
    z-index: 1;
    background-color: var(--mine-shaft);
    position: absolute;
    max-height: 400px;
    min-height: 40px;
    overflow: auto;
    flex-direction: column;
    gap: 2px;
    transition: top .3s ease, visibility .3s ease, opacity .3s ease;
}
.movies-search__comp .search-preview-popup.visible {
    display: flex;
}
.movies-search__comp .search-result__item {
    display: flex;
    align-items: center;
    background-color: var(--mine-shaft);
    border-radius: 8px;
    padding: 4px;
}
.movies-search__comp .search-result__item:hover {
    background-color: var(--white20);
}

.search-preview-popup .search-tip {
    margin: auto;
}
.hidden {
    display: none;
}





@media screen and (min-width: 768px) {
    /*.form-controls .cancel:hover {*/
    /*    background-color: var(--red);*/
    /*}*/
    /*.form-controls .create:hover {*/
    /*    background-color: var(--green);*/
    /*}*/

    .more__btn:hover {
        background-color: var(--mine-shaft);
    }
    .archive:hover,
    .edit:hover {
        background-color: var(--white20);
    }
}

@media screen and (max-width: 600px) {
    .movie-list_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .movie-list_container {
        padding: 0 8px;
    }
    .movie-tool-bar {
        padding: 0 8px;
    }
}


@media screen and (max-width: 450px) {

}