a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    margin: 0;
}
p {
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 11px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.--b-col-gray {
    background-color: var(--gray);
}

.pos-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.p-3 {
    padding: .5rem;
}

.top-0 {
    top: 0;
}

.w_th-100per {
    width: 100%;
}